@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
}

button,
i {
  cursor: pointer;
}

.header {
  padding: 10px 0;
}

.navbar_top {
  border-bottom: 1px solid #d9dadb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navbar_top_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.navbar_top_item form {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.navbar_top_item form input {
  border: none;
  outline: none;
}
.navbar_top_item form button {
  border: none;
  background-color: transparent;
}
.navbar_top_travel {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.navbar_top_travel h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  color: #262d33;
}
.navbar_top_travel p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}
.navbar_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-top: 15px;
}
.navbar_bottom h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.navbar_bottom_item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

.vektors {
  height: 40px;
  width: 1px;
  background-color: #d9dadb;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

@media (max-width: 829px) {
  .navbar_top_item form input {
    display: none;
  }
  .navbar_bottom {
    flex-direction: column;
  }
  .navbar_bottom h2 {
    display: none;
  }
  .navbar_bottom_item {
    justify-content: space-between;
    width: 100%;
  }
  .logo p {
    display: none;
  }
  .signin p {
    display: none;
  }
}
@media (max-width: 412px) {
  .navbar_top img {
    display: none;
  }
}
.showcase {
  background: #262d33;
  padding: 30px 0;
}
.showcase_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  overflow-x: auto;
}
.showcase_links li {
  text-wrap: nowrap;
}
.showcase_links li a {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.showcase_bottom {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 600px;
  margin-top: 60px;
}
.showcase_mountain {
  background: url(../img/mountain.png);
  background-size: cover;
  border-radius: 8px 0 0 8px;
}
.showcase_mountain_item {
  width: 88%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
  flex-direction: column;
  height: 100%;
}
.showcase_recomended {
  background-color: #fff;
  border-radius: 0 8px 8px 0;
}
.showcase_recomended .recomended_wrapper .title h2 {
  margin-top: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #262d33;
  text-align: center;
  width: 190px;
  margin: 25px 0 25px 50px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_food {
  width: 320px;
  height: 105px;
  background: #f5f5f5;
  border: 1px solid rgba(179, 179, 179, 0.278);
  padding: 15px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_food h4 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3bbdc4;
  margin-bottom: 10px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_food p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_cars {
  width: 320px;
  height: 105px;
  background: #fff;
  border: 1px solid rgba(179, 179, 179, 0.278);
  padding: 15px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_cars h4 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #6e99ae;
  margin-bottom: 10px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_cars p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_movies {
  width: 320px;
  height: 105px;
  background: #fff;
  border: 1px solid rgba(179, 179, 179, 0.278);
  padding: 15px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_movies h4 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ac8ee3;
  margin-bottom: 10px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_movies p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_nfl {
  width: 320px;
  height: 105px;
  background: #fff;
  border: 1px solid rgba(179, 179, 179, 0.278);
  padding: 15px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_nfl h4 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa34d;
  margin-bottom: 10px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_nfl p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_tech {
  width: 320px;
  height: 108px;
  background: #fff;
  border: 1px solid rgba(179, 179, 179, 0.278);
  padding: 15px;
  border-radius: 5px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_tech h4 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #3dc47e;
  margin-bottom: 10px;
}
.showcase_recomended .recomended_wrapper .recomended_cards .card_tech p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.avatar h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.avatar p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
}

.destinations h2 {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #4592ff;
  padding-bottom: 10px;
}
.destinations h1 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 70%;
  margin-bottom: 20px;
}
.destinations button {
  background: #4592ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
  border: none;
  width: 138px;
  height: 40px;
  border-radius: 20px;
}

.play_buttons {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.play {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.play h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}
.play p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  opacity: 0.4;
}

@media (max-width: 1088px) {
  .destinations h1 {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .showcase_bottom {
    width: 100%;
    grid-template-columns: 100%;
  }
  .showcase_recomended {
    height: 200px;
  }
  .showcase_recomended .recomended_cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-y: scroll;
  }
}
@media (max-width: 629px) {
  .destinations h1 {
    font-size: 25px;
  }
}
@media (max-width: 560px) {
  .destinations h1 {
    font-size: 25px;
  }
  .destinations .play_buttons {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 50px;
    flex-direction: column-reverse;
  }
}
@media (max-width: 443px) {
  .destinations h1 {
    font-size: 20px;
  }
}
.cars {
  background-color: #f1eded;
  height: 100%;
}
.cars .cars_grid {
  padding-bottom: 50px;
}
.cars .cars_grid .card_top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 150px;
  gap: 30px;
}
.cars .cars_grid .card_top .card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 370px;
  margin-top: 50px;
}
.cars .cars_grid .card_top .card__category {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #6e99ae;
}
.cars .cars_grid .card_top .card__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  color: #262d33;
  width: 45%;
  margin-top: 20px;
}
.cars .cars_grid .card_top .card__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
  width: 50%;
  margin-top: 20px;
}
.cars .cars_grid .card_top .card__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 100px;
}
.cars .cars_grid .card_top .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding-top: 0.8rem;
}
.cars .cars_grid .card_top .card__author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cars .cars_grid .card_top .card__author img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.cars .cars_grid .card_top .card__author span {
  font-size: 0.85rem;
  color: #444;
}
.cars .cars_grid .card_top .card__author span strong {
  font-weight: 600;
}
.cars .cars_grid .card_top .card__comments {
  font-size: 0.8rem;
  color: #888;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.cars .cars_grid .card_top .card__comments .icon-comment {
  width: 16px;
  height: 16px;
}
.cars .cars_grid .card_top .popular {
  width: 263px;
  height: 370px;
  background: url(../img/popular.svg) no-repeat;
  margin-top: 50px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.cars .cars_grid .card_top .popular__category {
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  background-color: #02b202;
  width: 66px;
  height: 25px;
  border-radius: 5px;
  padding: 4px;
}
.cars .cars_grid .card_top .popular__title {
  margin-top: 150px;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #e7d9ff;
}
.cars .cars_grid .card_top .popular__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
}
.cars .cars_grid .card_top .popular__footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
}
.cars .cars_grid .card_top .popular__author div {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
  opacity: 0.85;
  margin-left: 40px;
  margin-top: -30px;
}
.cars .cars_grid .card_top .popular__comments {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 40px;
}
.cars .cars_grid .card_top .popular__comments p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #fff;
  opacity: 0.4;
  display: inline-block;
}
.cars .cars_grid .card_bottom {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  align-items: flex-start;
}
.cars .cars_grid .card_bottom .cats {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 263px;
  height: 370px;
  flex: 0 0 263px;
}
.cars .cars_grid .card_bottom .cats img {
  border-radius: 8px 8px 0 0;
}
.cars .cars_grid .card_bottom .cats__footer {
  padding: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  color: #262d33;
}
.cars .cars_grid .card_bottom .card_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 550px;
}
.cars .cars_grid .card_bottom .card_right .question {
  width: 263px;
  height: 170px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}
.cars .cars_grid .card_bottom .card_right .question h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  color: #262d33;
}
.cars .cars_grid .card_bottom .card_right .question p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #4b5157;
  margin: 10px 0;
}
.cars .cars_grid .card_bottom .card_right .question h4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #939699;
}

/*# sourceMappingURL=style.css.map */
